<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monkey Typewriter Simulation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav>
        <div class="container nav-container">
            <a href="/" class="nav-brand">Monkey Typewriter</a>
            <div>
                {% if current_user.is_authenticated %}
                    <a href="/admin" class="nav-button">Admin</a>
                {% else %}
                    <a href="/login" class="nav-button">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="container main-content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>